.header {
  position: fixed;
  top: 0;
  width: calc(100% - 5rem);
  z-index: 20;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 3rem;
  display: flex;
  flex-direction: row-reverse;
}
.btn-primary {
  background-color: #5051f9e6;
  color: white;
  cursor: pointer;
  color: white;
  cursor: pointer;
  padding: 10px 18px;
  font-size: 20px;
  border-radius: 7px;
}
.btn-primary:hover {
  background-color: var(--primary-purple);
}
.header .action-center {
  display: flex;
  align-items: center;
  width: 11rem;
  justify-content: space-around;
  height: 103%;
  margin-right: 1rem;
}
.nav-icon-container {
  width: max-content;
  padding: 12px;
  height: max-content;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.nav-icon-container svg path {
  fill: black;
}
.nav-icon-container.selected svg path {
  fill: white;
}
.nav-icon-container:hover {
  background: var(--hover-purple);
  transform: scale(1.1);
}
.nav-icon-container.selected {
  background: var(--primary-purple);
  transform: scale(1.1);
}

nav {
  position: fixed;
  left: 0;
  width: 5rem;
  height: 100%;
  background-color: #f8f8f8;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}
.nav-container {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
nav span {
  display: block; /* Make links block-level elements */
  color: #333; /* Set link color */
  text-decoration: none; /* Remove underline from links */
}

/* Add a hover effect for the links */
nav a:hover {
  background-color: #ddd; /* Change background color on hover */
}
.inner-wrapper {
  width: 100%;
  padding-top: 4rem;
  padding-left: 5rem;
  background-color: var(--wrapper-bg-grey);
}
.page-wrapper {
  display: flex;
  min-height: 100vh;
}
.section-header {
  font-size: 32px;
  font-weight: 500;
}
.team-wrapper {
  display: grid;
  gap: 16px; /* Gap between grid items */
  grid-template-columns: repeat(
    auto-fill,
    minmax(400px, 1fr)
  ); /* Responsive columns */
  padding: 16px;
}
/* Team Component */
.team {
  background-color: var(--bg-white);
  color: grey;
  padding: 20px;
  height: 15rem;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.team:hover {
  transform: scale(1.05); /* Slightly scale up on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}

.team-header {
  color: #00317d;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: capitalize; /* Capitalize the title */
  text-overflow: ellipsis;
  overflow: hidden;
  width: 171px;
  height: 1.2em;
  white-space: nowrap;
}

.team-description {
  font-size: 13px;
  line-height: 1.5;
  color: #555; /* Slightly darker text for better readability */
  margin-bottom: 15px;
}

.team-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
}

.admin-indicator {
  background-color: var(--admin-indicator-bg, #28a745); /* Fallback color */
  color: white;
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 15px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase; /* Make 'Admin' label uppercase */
}

.invite-button {
  color: #007bff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.invite-button:hover {
  color: #0056b3; /* Darker blue on hover */
  text-decoration: underline; /* Underline on hover */
}

.images-placeholder img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  transition: transform 0.2s ease;
}

.images-placeholder img:hover {
  transform: translateY(-3px); /* Slight lift effect on hover */
}

.team-members-indicator {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.task-wrapper {
  display: grid;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
}
/* HTML: <div class="loader"></div> */
.loader {
  --r1: 154%;
  --r2: 68.5%;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(
      var(--r1) var(--r2) at top,
      #0000 79.5%,
      var(--primary-purple) 80%
    ),
    radial-gradient(
      var(--r1) var(--r2) at bottom,
      var(--primary-purple) 79.5%,
      #0000 80%
    ),
    radial-gradient(
      var(--r1) var(--r2) at top,
      #0000 79.5%,
      var(--primary-purple) 80%
    ),
    #ccc;
  background-size: 50.5% 220%;
  background-position: -100% 0%, 0% 0%, 100% 0%;
  background-repeat: no-repeat;
  animation: l9 2s infinite linear;
  position: absolute;
  top: 50%;
  left: 50%;
}
@keyframes l9 {
  33% {
    background-position: 0% 33%, 100% 33%, 200% 33%;
  }
  66% {
    background-position: -100% 66%, 0% 66%, 100% 66%;
  }
  100% {
    background-position: 0% 100%, 100% 100%, 200% 100%;
  }
}
