.header {
  position: fixed;
  top: 0;
  width: calc(100% - 5rem);
  z-index: 20;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 3rem;
  display: flex;
  flex-direction: row-reverse;
}
.header .action-center {
  display: flex;
  align-items: center;
  width: 11rem;
  justify-content: space-around;
  height: 103%;
}
.nav-icon-container {
  width: max-content;
  padding: 12px;
  height: max-content;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.nav-icon-container svg path {
  fill: black;
}
.nav-icon-container.selected svg path {
  fill: white;
}
.nav-icon-container:hover {
  background: var(--hover-purple);
  transform: scale(1.1);
}
.nav-icon-container.selected {
  background: var(--primary-purple);
  transform: scale(1.1);
}

nav {
  position: fixed;
  left: 0;
  width: 5rem;
  height: 100%;
  background-color: #f8f8f8;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}
.nav-container {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
nav span {
  display: block; /* Make links block-level elements */
  color: #333; /* Set link color */
  text-decoration: none; /* Remove underline from links */
}

/* Add a hover effect for the links */
nav a:hover {
  background-color: #ddd; /* Change background color on hover */
}
.inner-wrapper {
  width: 100%;
  padding-top: 4rem;
  padding-left: 5rem;
  background-color: var(--wrapper-bg-grey);
}
.page-wrapper {
  display: flex;
  /* height: 100vh; */
}
.section-header {
  font-size: 32px;
  font-weight: 500;
}
.team-wrapper {
  display: grid;
  gap: 16px; /* Gap between grid items */
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Responsive columns */
  padding: 16px;
}
.team {
  background-color: var(--bg-white);
  color: grey;
  padding: 20px;
  height: 15rem;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.team-add {
  background-color: var(--bg-white);
  color: grey;
  padding: 20px;
  height: 15rem;
  text-align: center;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.team:hover {
  transform: scale(1.05); /* Slightly scale up on hover */
}
.team-add:hover {
  transform: scale(1.05); /* Slightly scale up on hover */
}
.team .team-header {
  color: #00317d;
  font-size: 20px;
  font-weight: 600;
}
.team .team-description{
    font-size: 11px;
}
.admin-indicator{
    background-color: var(--admin-indicator-bg);
    color: white;
    font-size: 9px;
    padding-left: 11px;
    border-radius: 5px;
    padding-right: 11px;
    text-align: center;
    display: flex;
    align-items: center;
}

.task-wrapper {
  display: grid;
  flex-wrap: wrap;
  gap: 1rem; 
  padding: 1rem 1rem 1rem .2rem;
  grid-template-columns: repeat(
    auto-fill,
    minmax(18rem, 1fr)
  )
}